.titolo {
    color: white;
    font-size: 1.953vw;
    font-family: titoli;

}

.mail {
    font-family: payoff;
    color: white;
    font-size: 1vw;
}


.form-label {
    margin-bottom: 0rem;
}

.descrizione {
    text-align: center;
    color: white;
    /* word-break: break-all;
    max-width: 50ch;  */
    font-family: paragrafo;
    font-size: 1.042vw;
}

label {
    color: white;
}

.sectionForm {
    margin-top: 7vw;
}

#amosForm {
    font-family: payoff;

}

#amosForm,
input {
    font-family: paragrafo;

}

.form-control:focus {
    border-color: initial !important;
    box-shadow: none !important;
    background-color: rgb(54, 54, 54);
    color: white;
}


.form-control {
    background-color: rgb(54, 54, 54);
    color: white;
    border: none
}

.col-md-6 {
    width: 58.594vw;
}

.row{
    justify-content: center;
}


#amosForm{
    margin-top: 2vh;
}


@media screen and (max-width:600px){

    .sectionForm{
        margin-top: 13vh;
    }

    .titolo{
        font-size: 6vw;
        text-align: center;
    }

    .col-md-6 {
        width: 100%;
    }

    .descrizione{
        font-size: 4vw;
        text-align: center;
    }

    .mail{
        font-size: 2.7vw;
        text-align: center;
    }

}





