@font-face {
    font-family: paragrafo;
    src: url("../FONT/Prompt-ExtraLight.ttf");
}

@font-face {
    font-family: titoli;
    src: url("../FONT/Syncopate-Regular.ttf");
}

@font-face {
    font-family: payoff;
    src: url("../FONT/Michroma-Regular.ttf");
}



.header-blur {
    position: fixed;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 0.052vw solid white;
    top: 0;
}

.oid {
    width:  15.625vw; /* Ridotto da 15.625vw per stringere */
}

.logo {
    width: 4.557vw; /* Ridotto da 4.557vw per stringere */
}

.myNav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.302vw; /* Ridotto da 1.302vw per stringere */
}

.contact {
    font-family: titoli;
    margin-top: 0px;
}

.titolo {
    font-family: titoli;
    font-size: 2vw;
}


.mail {
    font-family: payoff;
    font-size: 1.5vw;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    .oid {
        width: 30%;
    }

    .logo {
        width: 20%;
    }

    .myNav a {
        font-size: 3vw;
    }

    .header-blur{
        border: none;
    }
}

/*----TABLET---*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .oid {
        width: 20vw;
    }

    .logo {
        width: 7vw;
    }

    .myNav a {
        text-decoration: none;
        color: #ffffff;
        font-size: 2vw; /* Ridotto da 1.302vw per stringere */
    }
}