/* CSS per il menu laterale e pulsante */
.menu-btn {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 9999;


}

.sidenav.open {
    width: 60.386vw;
    border: solid 1px white;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidenav a i {
    margin-right: 15px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {

    .sidenav.open {
        border: solid 1px white;
        border-left: none;
        border-top: none;
        border-bottom: none;
        z-index: 9999;
    }


    .logo {
        display: none;
    }

    .logomenu {
        width: 20vw;
        display: block;
        margin-top: -3vw;
        margin-left: -4vw;
        border: solid 1px;
        border-radius: 20px;
        backdrop-filter: blur(7px);
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1001;
        position: fixed;
    }

    .menu-btn {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        background: none;
        border: none;
        font-size: 30px;
        color: white;
        cursor: pointer;
        z-index: 1002;
    }

    .oid {
        display: none;
    }

    .myNav a {
        font-size: 3vw;
    }

  
}
