.gioco {
    width: 100%;
    height: auto;
}



.titolo {
    color: white;
    font-size: 1.953vw;
    font-family: titoli;

}

.trailer {
    width: 71.615vw;
    height: 68.531vh;
}

/* Personalizzazione del container */
.custom-container {
    max-width:  71.615vw; /* Larghezza massima del container personalizzato */
    margin: 0 auto; /* Centratura del container */
}

.icona{
    /* width: 9.766vw; */
    width: 5vw;
    align-items: center;
    justify-content: center;
    margin-bottom: -2.741vh;
}


.titolo2 {
    color: white;
    font-size: 0.8vw;
    font-family: titoli;

}

.box{
    background-color: red;
    width: 48.828vw;
    height: 60vh;
    flex: 0 0 auto;

}

.titoloCol {
    color: white;
    font-size: 1.953vw;
    text-align: left;
    font-family: titoli;
    margin-left: 4.8vw;
}

.glox{
    max-width: 40vw;
}

.descrizione {
    text-align: justify;
    color: white;
    /* word-break: break-all;
    max-width: 50ch;  */
    font-family: paragrafo;
    font-size: 1.042vw;
    margin-left: 4.8vw;

}

.descrizione2 {
    text-align: justify;
    color: white;
    font-family: paragrafo;
    font-size: 1.042vw;

}

.descrizione3 {
    text-align: center;
    color: white;
    font-family: paragrafo;
    font-size: 1.042vw;

}

.carta{
    background-color: red;
    width: 9.766vw;
    height: 27.412vh;
    align-content: center;
    margin-top: -2.741vh;
}

/*CONTAINER 2 PERSONALIZZATO*/
 .custom-container2 {
    /* max-width: 84.635vw;  */
    max-width: 50vw; 
    margin: 0 auto;
     
} 

.myP{
    /* margin-left: 6.51vw; */
    align-self: center;
}


.myS{
    /* margin-left: 6.51vw; */
    align-self: center;
}

.space100{
    margin-top: 13.706vh;
}

.space200{
    margin-top: 27.412vh;
}