.gioco {
    width: 100%;
    height: auto;
}

.titolo {
    color: white;
    font-size: 30px;
    font-family: titoli;

}

.trailer {
    background-color: red;
    width: 1100px;
    height: 500px;
}

/* Personalizzazione del container */
.custom-container {
    max-width: 1100px; /* Larghezza massima del container personalizzato */
    margin: 0 auto; /* Centratura del container */
}


.titolo2 {
    color: white;
    font-size: 16px;
    font-family: titoli;

}

.box{
    background-color: red;
    width: 750px;
    height: 500px;

}

.titoloCol {
    color: white;
    font-size: 30px;
    text-align: left;
    font-family: titoli;
}

.descrizione {
    text-align: justify;
    color: white;
    word-break: break-all;
    max-width: 50ch; /* Imposta la larghezza massima a 50 caratteri */
    font-family: paragrafo;
}

.descrizione2 {
    text-align: justify;
    color: white;
    font-family: paragrafo;
}

.carta{
    background-color: red;
    width: 150px;
    height: 200px;
    align-content: center;
    margin-top: -20px;
}

/*CONTAINER 2 PERSONALIZZATO*/
 .custom-container2 {
    max-width: 1300px; 
    margin: 0 auto; 
} 

