.gioco {
    width: 100%;
    height: auto;
}



.titolo {
    color: white;
    font-size: 1.953vw;
    font-family: titoli;

}

.trailer {
    width: 71.615vw;
    height: 68.531vh;
}

/* Personalizzazione del container */
.custom-container {
    max-width: 71.615vw;
    /* Larghezza massima del container personalizzato */
    margin: 0 auto;
    /* Centratura del container */
}

.icona {
    width: 5vw;
    align-items: center;
    justify-content: center;
    margin-bottom: -2.741vh;
}


.titolo2 {
    color: white;
    font-size: 0.8vw;
    font-family: titoli;

}

.box {
    width: 48.828vw;
    height: 60vh;
    flex: 0 0 auto;
}

.box2 {
    width: 48.828vw;
    height: 60vh;
    flex: 0 0 auto;
    margin-left: 7vw;
}

.titoloCol {
    color: white;
    font-size: 1.953vw;
    text-align: left;
    font-family: titoli;
    margin-left: 4.8vw;
}

.glox {
    max-width: 40vw;
}

.descrizione {
    text-align: justify;
    color: white;
    /* word-break: break-all;
    max-width: 50ch;  */
    font-family: paragrafo;
    font-size: 1.042vw;
    margin-left: 4.8vw;
}




.descrizione2 {
    text-align: justify;
    color: white;
    font-family: paragrafo;
    font-size: 1.042vw;

}

.descrizione3 {
    text-align: center;
    color: white;
    font-family: paragrafo;
    font-size: 1.042vw;

}

.carta {
    background-color: red;
    width: 9.766vw;
    height: 27.412vh;
    align-content: center;
    margin-top: -2.741vh;
}

/*CONTAINER 2 PERSONALIZZATO*/
.custom-container2 {
    /* max-width: 84.635vw;  */
    max-width: 50vw;
    margin: 0 auto;

}

.myP {
    /* margin-left: 6.51vw; */
    align-self: center;
}


.myS {
    /* margin-left: 6.51vw; */
    align-self: center;
}

.space100 {
    margin-top: 13.706vh;
}

.space200 {
    margin-top: 27.412vh;
}

.cont {
    flex-direction: row;
    display: flex;
}

.cont2 {
    flex-direction: row;
    display: flex;
}

@media screen and (max-width:600px) {

    .titolo {
        color: white;
        font-size: 6.953vw;
        font-family: titoli;
        text-align: center;
    }

    .trailer {
        width: 90vw;
        height: 50vh;
    }

    .descrizione3 {
        text-align: center;
        color: white;
        font-family: paragrafo;
        font-size: 4.042vw;
    }

    .box {
        width: 95%;
        height: auto;
        flex: 0 0 auto;
    }

    .box2 {
        width: 95%;
        height: auto;
        flex: 0 0 auto;
        margin-left: 0vw;
    }

    .titoloCol {
        color: white;
        font-size: 6.953vw;
        text-align: center;
        font-family: titoli;
    }

    .glox {
        max-width: 100%;
    }

    .descrizione {
        text-align: center;
        color: white;
        font-family: paragrafo;
        font-size: 4.042vw;
        margin-left: 0vw;
    }

    .cont {
        flex-direction: column;
        align-items: center;
    }

    .cont2 {
        flex-direction: column;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .descrizione2 {
        text-align: center;
        color: white;
        font-family: paragrafo;
        font-size: 4.042vw;
    }


    .space200 {
        margin-top: 10vh;
    }

    .space100 {
        margin-top: 5vh;
    }

    .custom-container2 {
        max-width: 90vw;
    }

    .row-cols-2>* {
        flex: 0 0 auto;
        width: 33%;
    }

    .icona {
        /* width: 9.766vw; */
        width: 12vw;
        align-items: center;
        justify-content: center;
        margin-bottom: 3vh;
    }


    .titolo2 {
        color: white;
        font-size: 2.5vw;
        font-family: titoli;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1* var(--bs-gutter-y));
        margin-right: calc(-.5* var(--bs-gutter-x));
        margin-left: calc(-.5* var(--bs-gutter-x));
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .titolo2 {
        color: white;
        font-size: 1.5vw;
        font-family: titoli;
    }

    .icona {
        width: 10vw;
        align-items: center;
        justify-content: center;
        margin-bottom: -1.5vh;
    }

    .custom-container2 {
        max-width: 70vw;
    }

    .row-cols-2 > * {
        flex: 0 0 auto;
        width: 40%;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

   
}


@media screen and (width: 768px) {

    .titolo2 {
        color: white;
        font-size: 2vw;
        font-family: titoli;
    }


    .icona {
        width: 13vw;
        align-items: center;
        justify-content: center;
        margin-bottom: -0.741vh;
    }

    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1* var(--bs-gutter-y));
        margin-right: calc(-.5* var(--bs-gutter-x));
        margin-left: calc(-.5* var(--bs-gutter-x));
        justify-content: center;
    }


}


@media screen and (width:1024px) {

    .titolo2 {
        color: white;
        font-size: 1vw;
        font-family: titoli;
    }

    .row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: row;
    }
  
    .row-cols-2 > * {
        flex: 0 0 auto !important;
        width: auto !important; 
    }
}