/*------------------------*/
@font-face {
    font-family: paragrafo;
    src: url("../FONT/Prompt-ExtraLight.ttf");
}

@font-face {
    font-family: titoli;
    src: url("../FONT/Syncopate-Regular.ttf");
}

@font-face {
    font-family: payoff;
    src: url("../FONT/Michroma-Regular.ttf");
}

/*------------------------*/


.amosShade {
    height: 600px;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.introPayOff {
    font-size: 20px;
    opacity: 0;
    position: absolute;
    color: white;
    font-family: payoff;
    text-align: center;
    margin-top: 550px;
}



 @media screen and (min-width:1920px) {

    .amosShade {
        height: 65.934vh;
        width: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }


    .introPayOff {
        font-size: 20px;
        opacity: 0;
        position: absolute;
        color: white;
        font-family: payoff;
        text-align: center;
        margin-top: 650px;
    }
} 



.myButton {
    background-color: transparent;
    border: solid 1px white;
    width: 300px;
    height: 50px;
    font-family: titoli;
    font-size: 16px;
    color: white;
    border-radius: 30px;
    text-align: center;
    align-items: center;
}

.hidden {
    display: none;

}
.global{
   overflow-y: hidden;
}

#main-content {
    transition: opacity 0.5s ease-in-out;
    /* Aggiungi una transizione per l'opacità */
    opacity: 0;
    /* Imposta l'opacità iniziale a 0 */
}

body {
    background-color: black;
    z-index: -1;
}

/* Aggiunto stile per la navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    z-index: 9999;
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    height: 100px;
    border-bottom: solid 1px;
    border-color: white;
    display: flex;
    z-index: 9999;

}


.logo {
    width: 70px;
    position: absolute;
    margin-top: -15px;
}

.logoMobile {
    width: 70px;
    display: flex;

}

#amos {
    color: white;
    position: relative;
    font-size: 20px;
    top: 30px;
    font-family: titoli;
    /* Regola questa cifra in base alla quantità desiderata di spostamento verso il basso */
}

.oid {
    width: 240px;
    position: absolute;
    margin-top: -30px;
}

/* Modificato stile per i link nella navbar */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* Allinea gli elementi sulla navbar */
    margin: 0;
    padding: 0;
    z-index: 9999;
}

nav li {
    margin-right: 20px;
    display: block;

}

/* Modificato stile per i link nella navbar */
nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;

}


.nav-container {
    max-width: 1200px;
    /* Scegli la larghezza massima desiderata */
    margin: 0 auto;
    /* Centra il container orizzontalmente */
}



/*-------SLIDER-------*/

.slide a{
    text-decoration: none;
    
}



.sectionSlider {
    margin-top: 0px
}

.slider {
    width: 100%;
    margin: 0 auto;
}

.immagineSlide {
    width: 100vw;
    height: 100vh;
}


/* Stili per le frecce di navigazione */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    /* Aggiunto z-index */
}


.prev {
    left: 0;
}

.next {
    right: 0;
}


/* Stili per i punti di navigazione personalizzati */
.custom-dots {
    text-align: center;
    /* Allinea i punti di navigazione al centro */
    margin-top: 20px;
    /* Spazio sopra i punti di navigazione */
}

.custom-dots .dot {
    display: inline-block;
    height: 10px;
    width: 5px;
    margin: 15px;
    border-radius: 50%;
    background-color: #424242;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-dots .dot.active {
    background-color: #ffffff;
}

/*--------TEXT SLIDE--------*/

.Old-text{
    position: absolute;
    margin-top: -340px;
    color: white;
    margin-left: 910px;
    font-size: 30px;
    font-family: titoli;

}

.old-desc{
    position: absolute;
    margin-top: -280px;
    color: white;
    margin-left: 910px;
    font-family: paragrafo;

}

@media screen and (min-width:1920px) {


    .global{
        overflow-y: hidden;
     }

    .Old-text{
        position: absolute;
        margin-top: -340px;
        color: white;
        margin-left: 910px;
        font-size: 30px;
        font-family: titoli;
    
    }
    
    .old-desc{
        position: absolute;
        margin-top: -280px;
        color: white;
        margin-left: 910px;
        font-family: paragrafo;
    
    }


}


/*-----------------------------------------*/
/*-------------SLIDE RESPONSIVE------------*/

@media screen and (max-width: 600px) {

    .prev,
    .next {
        font-size: 10px;
        /* Riduci la dimensione delle frecce */
    }

    .custom-dots {
        margin-top: 10px;
        /* Riduci lo spazio sopra i punti di navigazione */
    }

    .immagineSlide {
        height: 500px;
        width: auto;
    }
}



/*--------------------------------------*/
/*--------------MENU RESPONSIVE----------------*/
.navmobile {
    display: none;
}

@media screen and (max-width: 600px) {
    #desktop {
        display: none;
    }

    .navmobile {
        display: block;
    }
}

.mobile-menu {
    display: none;
    list-style-type: none;
    opacity: 0;
    /* Imposta l'opacità del menu a 0 */
    transition: opacity 0.3s ease;
    /* Aggiungi una transizione all'opacità */
    text-align: center;
    padding: 20px;
    position: absolute;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.785);
    border-radius: 20px;
    border: solid 2px;
    border-color: white;

}

.mobile-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    /* Quando il menu è attivo, imposta l'opacità a 1 */
}


.mobile-menu a {
    font-family: titoli;
    text-decoration: none;
    color: white;
}

.menu-toggle {
    cursor: pointer;
    margin-top: 0px;
}

.hamburger {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
}


.mobile-menu li {
    margin-bottom: 10px;
}

.contact {
    font-family: titoli;
    position: absolute;
    margin-top: 0px;
}


@media screen and (max-width: 600px) {

    .global{
        overflow-y: hidden;
     }


    .amosShade {
        height: 350px;
        /* Altezza desiderata */
        width: auto;
        position: absolute;
        left: 50%;
        /* Posiziona il left edge al centro della pagina */
        top: 50%;
        /* Posiziona il top edge al centro della pagina */
        transform: translate(-50%, -50%);
        /* Muove l'elemento indietro di metà della sua larghezza e altezza */
    }


    .introPayOff {
        font-size: 16px;
        opacity: 0;
        position: absolute;
        color: white;
        font-family: payoff;
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 480px;
    }

}


@media screen and (max-width: 1024px) {

    .amosShade {
        height: 600px;
        /* Altezza desiderata */
        width: auto;
        position: absolute;
        left: 50%;
        /* Posiziona il left edge al centro della pagina */
        top: 50%;
        /* Posiziona il top edge al centro della pagina */
        transform: translate(-50%, -50%);
        /* Muove l'elemento indietro di metà della sua larghezza e altezza */
    }


    .introPayOff {
        font-size: 20px;
        opacity: 0;
        position: absolute;
        color: white;
        font-family: payoff;
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 700px;
    }

}
