/*------------------------*/
@font-face {
    font-family: paragrafo;
    src: url("../FONT/Prompt-ExtraLight.ttf");
}

@font-face {
    font-family: titoli;
    src: url("../FONT/Syncopate-Regular.ttf");
}

@font-face {
    font-family: payoff;
    src: url("../FONT/Michroma-Regular.ttf");
}

/*------------------------*/

body {
    overflow-y: scroll;
    background-color: rgb(0, 0, 0);
    z-index: -1;
}

.amosShade {
    height: 39.063vw;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.introPayOff {
    font-size: 0.8vw;
    opacity: 0;
    position: absolute;
    color: white;
    font-family: payoff;
    text-align: center;
    margin-top: 38vh;
}


.myButton {
    background-color: transparent;
    border: solid 0.052vw white;
    width: 19.531vw;
    height: 6.853vh;
    font-family: titoli;
    font-size: 1.042vw;
    color: white;
    border-radius: 1.953vw;
    text-align: center;
    align-items: center;
    padding: 0.521vw;
}

.hidden {
    display: none;

}



#main-content {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    z-index: 9999;
}



/*-------SLIDER-------*/

.slider {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.slider a {
    text-decoration: none;

}


.sectionSlider {
    height: 100vh;
    /* Imposta l'altezza della sezione slider per coprire l'intero viewport */
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100%;
}

.slide1,
.slide2,
.slide3 {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Occupa l'intera altezza del viewport */
}


.immagineSlide {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Riempie l'area del contenitore mantenendo le proporzioni */
    object-position: center;
    /* Centra l'immagine all'interno del contenitore */
}

.boxOld {
    position: absolute;
    bottom: -6%;
    left: 44%;
    transform: translateX(-50%);
    width: 90%;
    padding: 1vw;
    text-align: left;
    color: white;
}

.boxDragon {
    position: absolute;
    margin-top: -4vh;
    width: 100%;
}

/* Stili per le frecce di navigazione */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.953vw;
    color: white;
    padding: 0.521vw;
    cursor: pointer;
    z-index: 1;
    /* Aggiunto z-index */
}


.prev {
    left: 0;
}

.next {
    right: 0;
}


/* Stili per i punti di navigazione personalizzati */
.custom-dots {
    text-align: center;
    /* Allinea i punti di navigazione al centro */
    /* Spazio sopra i punti di navigazione */
    z-index: 9990;
    position: absolute;
    margin-top: -3.255vw;
}

.custom-dots .dot {
    display: inline-block;
    height: 0.7vw;
    /* Regola l'altezza dei punti */
    width: 0.651vw;
    margin: 0.781vw;
    border-radius: 50%;
    /* Assicurati che questo valore sia adatto al rapporto di altezza e larghezza */
    background-color: #424242;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

}



.custom-dots .dot.active {
    background-color: #ffffff;
}

/*--------TEXT SLIDE--------*/

.Old-text {
    position: absolute;
    margin-top: -46.601vh;
    color: white;
    margin-left: 58vw;
    font-size: 1.953vw;
    font-family: titoli;
}


.old-desc {
    position: relative;
    margin-top: -39.748vh;
    color: white;
    margin-left: 58vw;
    font-family: paragrafo;
    font-size: 0.781vw;
    width: 40vw;
}


.dragon-text {
    position: absolute;
    margin-top: -20.559vh;
    color: white;
    margin-left: 58vw;
    font-size: 1.953vw;
    font-family: titoli;
}


.dragon-desc {
    position: relative;
    margin-top: -13.706vh;
    color: white;
    margin-left: 58vw;
    font-family: paragrafo;
    font-size: 0.911vw;

}


/*----------------------------------------*/


@media screen and (max-width: 600px) {


    .old-desc {
        display: none;
    }

    .boxDragon {
        display: none;

    }

    .boxDragon {
        display: none;

    }

    .Old-text {
        display: none;
    }
}



@media screen and (max-width: 600px) {

    .prev,
    .next {
        font-size: 8vw;
        color: white;
    }

    .custom-dots {
        margin-top: -3.84vh !important
            /* Riduci lo spazio sopra i punti di navigazione */
    }

    .custom-dots .dot {
        display: inline-block;
        height: 2vh !important;
        width: 1vw;
        margin: 1.781vw;
        border-radius: 50%;
        background-color: #424242;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}



@media screen and (min-width:400px)and (max-width: 600px) {


    .amosShade {
        height: 84.541vw;
        /* Altezza desiderata */
        width: auto;
        position: absolute;
        left: 50%;
        /* Posiziona il left edge al centro della pagina */
        top: 50%;
        /* Posiziona il top edge al centro della pagina */
        transform: translate(-50%, -50%);
        /* Muove l'elemento indietro di metà della sua larghezza e altezza */
    }


    .introPayOff {
        font-size: 3vw;
        opacity: 0;
        position: absolute;
        color: white;
        font-family: payoff;
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 47vh !important;

    }

    .myButton {
        background-color: transparent;
        border: solid 0.052vw white;
        width: 42.531vw;
        height: 5.853vh;
        font-family: titoli;
        font-size: 4.042vw;
        color: white;
        border-radius: 9.953vw;
        text-align: center;
        padding: 0px;

    }

}

/*----------TABLET------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .amosShade {
        height: 60vw;
        width: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }



    .boxOld {
        position: absolute;
        bottom: 1vh;
        left: 44%;
        transform: translateX(-50%);
        width: 100%;
        padding: 1vw;
        text-align: left;
        color: white;
    }

    .Old-text {
        position: absolute;
        margin-top: -46.601vh;
        color: white;
        margin-left: 50vw;
        font-size: 3.953vw;
        font-family: titoli;
    }

    .old-desc {
        position: relative;
        margin-top: -39.748vh;
        color: white;
        margin-left: 50vw;
        font-family: paragrafo;
        font-size: 1.5vw;
        width: 50vw;
    }

    .myButton {
        background-color: transparent;
        border: solid 0.052vw white;
        width: 36.531vw;
        height: 6.853vh;
        font-family: titoli;
        font-size: 2vw;
        color: white;
        border-radius: 4.953vw;
        text-align: center;
        align-items: center;
        padding: 0.521vw;
    }

    /*------------------------------*/


    .boxDragon {
        position: absolute;
        margin-top: -4vh;
        width: 100%;
        margin-left: -6vw;
    }

    .dragon-desc {
        position: relative;
        margin-top: -15vh;
        color: white;
        margin-left: 57vw;
        font-family: paragrafo;
        font-size: 0.911vw;
    }

    .dragon-text {
        position: absolute;
        margin-top: -20.559vh;
        color: white;
        font-size: 2vw;
        font-family: titoli;
    }

}

@media screen and (max-width:768px) {

    .Old-text {
        position: absolute;
        margin-top: -46.601vh;
        color: white;
        margin-left: 50vw;
        font-size: 3.953vw;
        font-family: titoli;
    }

    .custom-dots .dot {
        display: inline-block;
        height: 1.7vh !important;
        width: 1vw;
        margin: 1.781vw;
        border-radius: 50%;
        background-color: #424242;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .custom-dots {
        text-align: center;
        z-index: 9990;
        position: absolute;
        margin-top: -7vw;
    }

    .introPayOff {
        font-size: 2vw;
        opacity: 0;
        position: absolute;
        color: white;
        font-family: payoff;
        text-align: center;
        margin-top: 37vh;
    }

    .prev,
    .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 4.953vw;
        color: white;
        padding: 0.521vw;
        cursor: pointer;
        z-index: 1;
    }
}


@media screen and (max-width:1024px) {

    .boxOld {
        position: absolute;
        bottom: 3vh;
        left: 44%;
        transform: translateX(-50%);
        width: 100%;
        padding: 1vw;
        text-align: left;
        color: white;
    }

    .custom-dots .dot {
        display: inline-block;
        height: 1vh;
        width: 1vw;
        margin: 1.781vw;
        border-radius: 50%;
        background-color: #424242;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .custom-dots {
        text-align: center;
        z-index: 9990;
        position: absolute;
        margin-top: -4vw;
    }

    .introPayOff {
        font-size: 2vw;
        opacity: 0;
        position: absolute;
        color: white;
        font-family: payoff;
        text-align: center;
        margin-top: 37vh;
    }
}


@media screen and (min-width: 601px) and (max-width:767px) {

    .amosShade {
        height: 50vw;
        width: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .myButton {
        background-color: transparent;
        border: solid 0.052vw white;
        width: 38.531vw;
        height: 6.853vh;
        font-family: titoli;
        font-size: 2.042vw;
        color: white;
        border-radius: 4.953vw;
        text-align: center;
        align-items: center;
        padding: 0.521vw;
    }

    .old-desc {
        position: relative;
        margin-top: -40.748vh;
        color: white;
        margin-left: 50vw;
        font-family: paragrafo;
        font-size: 1.781vw;
        width: 50vw;
    }

    .custom-dots .dot {
        display: inline-block;
        height: 2vh !important;
        width: 1vw;
        margin: 1.781vw;
        border-radius: 50%;
        background-color: #424242;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .custom-dots {
        text-align: center;
        z-index: 9990;
        position: absolute;
        margin-top: -5vw;
    }

    .dragon-text {
        position: absolute;
        margin-top: -20.559vh;
        color: white;
        margin-left: 25vw;
        font-size: 4vw;
        font-family: titoli;
    }

    .dragon-desc {
        position: relative;
        margin-top: -15.706vh;
        color: white;
        margin-left: 25vw;
        font-family: paragrafo;
        font-size: 0.911vw;
    }

    .titolo2 {
        color: white;
        font-size: 1.8vw !important;
        font-family: titoli;
    }


    .icona {
        width: 7vw !important;
        align-items: center;
        justify-content: center;
        margin-bottom: -0.741vh !important;
    }

    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        margin-top: calc(-1* var(--bs-gutter-y));
        margin-right: calc(-.5* var(--bs-gutter-x));
        margin-left: calc(-.5* var(--bs-gutter-x));
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

}